<option value="0">DESCONOCE</option>
<option value="1">AGUASCALIENTES</option>
<option value="2">BAJA CALIFORNIA NTE.</option>
<option value="3">BAJA CALIFORNIA Sur</option>
<option value="4">CAMPECHE</option>
<option value="5">COAHUILA</option>
<option value="6">COLIMA</option>
<option value="7">CHIAPAS</option>
<option value="8">CHIHUAHUA</option>
<option value="9">DISTRITO FEDERAL</option>
<option value="10">DURANGO</option>
<option value="11">GUANAJUATO</option>
<option value="12">GUERRERO</option>
<option value="13">HIDALGO</option>
<option selected="selected" value="14">JALISCO</option>
<option value="15">MÉXICO</option>
<option value="16">MICHOACÁN</option>
<option value="17">MORELOS</option>
<option value="18">NAYARIT</option>
<option value="19">NUEVO LEÓN'</option>
<option value="20">OAXACA</option>
<option value="21">PUEBLA</option>
<option value="22">QUERÉTARO</option>
<option value="23">QUINTANA ROO</option>
<option value="24">SAN LUIS POTOSÍ</option>
<option value="25">SINALOA</option>
<option value="26">SONORA</option>
<option value="27">TABASCO</option>
<option value="28">TAMAULIPAS</option>
<option value="29">TLAXCALA</option>
<option value="30">VERACRUZ</option>
<option value="31">YUCATÁN</option>
<option value="32">ZACATECAS</option>
