<select name="nac_origen" class="selectpicker" data-title="Single Select" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
  <option value='NND'>DESCONOCIDA</option>
  <option value="NAM">NAMIBIANA</option>
<option value="AGO">ANGOLESA</option>
<option value="DZA">ARGELIANA</option>
<option value="BEN">DE BENNIN</option>
<option value="BWA">BOTSWANESA</option>
<option value="BDI">BURUNDESA</option>
<option value="CPV">DE CABO VERDE</option>
<option value="COM">COMORENSE</option>
<option value="COD">CONGOLESA</option>
<option value="COG">MARFILEÑA</option>
<option value="TCD">CHADIANA</option>
<option value="DJI">DE DJIBOUTI</option>
<option value="EGY">EGIPCIA</option>
<option value="ETH">ETIOPE</option>
<option value="GAB">GABONESA</option>
<option value="GMB">GAMBIANA</option>
<option value="GHA">GHANATA</option>
<option value="GNB">GUINEA</option>
<option value="GIN">GUINEA</option>
<option value="GNQ">GUINEA ECUATORIANA</option>
<option value="LBY">LIBIA</option>
<option value="KEN">KENIANA</option>
<option value="LSO">LESOTHENSE</option>
<option value="LBR">LIBERIANA</option>
<option value="MWI">MALAWIANA</option>
<option value="MLI">MALIENSE</option>
<option value="MAR">MARROQUI</option>
<option value="MUS">MAURICIANA</option>
<option value="MRT">MAURITANA</option>
<option value="MOZ">MOZAMBIQUEÑA</option>
<option value="NER">NIGERINA</option>
<option value="NGA">NIGERIANA</option>
<option value="CAF">CENTRO AFRICANA</option>
<option value="CMR">CAMERUNESA</option>
<option value="TZA">TANZANIANA</option>
<option value="RWA">RWANDESA</option>
<option value="ESH">DEL SAHARA</option>
<option value="STP">DE SANTO TOME</option>
<option value="SEN">SENEGALESA</option>
<option value="SYC">DE SEYCHELLES</option>
<option value="SLE">SIERRA LEONESA</option>
<option value="SOM">SOMALI</option>
<option value="ZAF">SUDAFRICANA</option>
<option value="SDN">SUDANESA</option>
<option value="SWZ">SWAZI</option>
<option value="TGO">TOGOLESA</option>
<option value="TUN">TUNECINA</option>
<option value="UGA">UGANDESA</option>
<option value="ZAR">ZAIRANA</option>
<option value="ZMB">ZAMBIANA</option>
<option value="ZWE">DE ZIMBAWI</option>
<option value="ARG">ARGENTINA</option>
<option value="BHS">BAHAMEÑA</option>
<option value="BRB">DE BARBADOS</option>
<option value="BLZ">BELICEÑA</option>
<option value="BOL">BOLIVIANA</option>
<option value="BRA">BRASILEÑA</option>
<option value="CAN">CANADIENSE</option>
<option value="COL">COLOMBIANA</option>
<option value="CRI">COSTARRICENSE</option>
<option value="CUB">CUBANA</option>
<option value="CHL">CHILENA</option>
<option value="DMA">DOMINICA</option>
<option value="SLV">SALVADOREÑA</option>
<option value="USA">ESTADOUNIDENSE</option>
<option value="VCT">GRANADINA</option>
<option value="GTM">GUATEMALTECA</option>
<option value="VGB">BRITANICA</option>
<option value="GUY">GUYANESA</option>
<option value="HTI">HAITIANA</option>
<option value="HND">HONDUREÑA</option>
<option value="JAM">JAMAIQUINA</option>
<option selected="selected" value="MEX">MEXICANA</option>
<option value="NIC">NICARAGUENSE</option>
<option value="PAN">PANAMEÑA</option>
<option value="PRY">PARAGUAYA</option>
<option value="PER">PERUANA</option>
<option value="PRI">PUERTORRIQUEÑA</option>
<option value="DOM">DOMINICANA</option>
<option value="LCA">SANTA LUCIENSE</option>
<option value="SUR">SURINAMENSE</option>
<option value="TTO">TRINITARIA</option>
<option value="URY">URUGUAYA</option>
<option value="VEN">VENEZOLANA</option>
<option value="USA">AMERICANA</option>
<option value="AFG">AFGANA</option>
<option value="BHR">DE BAHREIN</option>
<option value="BTN">BHUTANESA</option>
<option value="BUR">BIRMANA</option>
<option value="PRK">NORCOREANA</option>
<option value="KOR">SUDCOREANA</option>
<option value="CHN">CHINA</option>
<option value="CYP">CHIPRIOTA</option>
<option value="SAU">ARABE</option>
<option value="PHL">FILIPINA</option>
<option value="IND">HINDU</option>
<option value="IDN">INDONESA</option>
<option value="IRQ">IRAQUI</option>
<option value="IRN">IRANI</option>
<option value="ISR">ISRAELI</option>
<option value="JPN">JAPONESA</option>
<option value="JOR">JORDANA</option>
<option value="KHM">CAMBOYANA</option>
<option value="KWT">KUWAITI</option>
<option value="LBN">LIBANESA</option>
<option value="MYS">MALASIA</option>
<option value="MDV">MALDIVA</option>
<option value="MNG">MONGOLESA</option>
<option value="NPL">NEPALESA</option>
<option value="OMN">OMANESA</option>
<option value="PAK">PAKISTANI</option>
<option value="QAT">DEL QATAR</option>
<option value="SYR">SIRIA</option>
<option value="LAO">LAOSIANA</option>
<option value="SGP">SINGAPORENSE</option>
<option value="THA">TAILANDESA</option>
<option value="TWN">TAIWANESA</option>
<option value="TUR">TURCA</option>
<option value="VNM">NORVIETNAMITA</option>
<option value="YEM">YEMENI</option>
<option value="ALB">ALBANESA</option>
<option value="DEU">ALEMANA</option>
<option value="AND">ANDORRANA</option>
<option value="AUT">AUSTRIACA</option>
<option value="BEL">BELGA</option>
<option value="BGR">BULGARA</option>
<option value="CSK">CHECOSLOVACA</option>
<option value="DNK">DANESA</option>
<option value="VAT">VATICANA</option>
<option value="ESP">ESPAÑOLA</option>
<option value="FIN">FINLANDESA</option>
<option value="FRA">FRANCESA</option>
<option value="GRC">GRIEGA</option>
<option value="HUN">HUNGARA</option>
<option value="IRL">IRLANDESA</option>
<option value="ISL">ISLANDESA</option>
<option value="ITA">ITALIANA</option>
<option value="LIE">LIECHTENSTENSE</option>
<option value="LUX">LUXEMBURGUESA</option>
<option value="MLT">MALTESA</option>
<option value="MCO">MONEGASCA</option>
<option value="NOR">NORUEGA</option>
<option value="NLD">HOLANDESA</option>
<option value="PRT">PORTUGUESA</option>
<option value="IOT">BRITANICA</option>
<option value="BLR">SOVIETICA BIELORRUSA</option>
<option value="UKR">SOVIETICA UCRANIANA</option>
<option value="ROM">RUMANA</option>
<option value="SMR">SAN MARINENSE</option>
<option value="SWE">SUECA</option>
<option value="CHE">SUIZA</option>
<option value="YUG">YUGOSLAVA</option>
<option value="AUS">AUSTRALIANA</option>
<option value="FJI">FIJIANA</option>
<option value="SLB">SALOMONESA</option>
<option value="NRU">NAURUANA</option>
<option value="PNG">PAPUENSE</option>
<option value="WSM">SAMOANA</option>
<option value="SVK">ESLOVACA</option>
<option value="BFA">BURKINA FASO</option>
<option value="EST">ESTONIA</option>
<option value="FSM">MICRONECIA</option>
<option value="GBD">REINO UNIDO(DEPEN. TET. BRIT.)</option>
<option value="GBN">REINO UNIDO(BRIT. DEL EXT.)</option>
<option value="GBO">REINO UNIDO(C. BRIT. DEL EXT.)</option>
<option value="GBR">REINO UNIDO</option>
<option value="KGZ">KIRGUISTAN</option>
<option value="LTU">LITUANIA </option>
<option value="MDA">MOLDOVIA, REPUBLICA DE</option>
<option value="MKD">MACEDONIA</option>
<option value="SVN">ESLOVENIA</option>
<option value="XES">ESLOVAQUIA</option>
</select>
