<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container theme-showcase">
  <% include ../partials/header %>

  <div class="jumbotron">
    <h1><%= locals.user.accType %></h1>
  </div>
</body>



<hr / />
<% include ../partials/footer %>

</html>
