<option value="0001" selected="selected">Zapopan</option>
<option value="0004">El Agua Caliente</option>
<option value="0006">Las Agujas</option>
<option value="0007">Ahuatán</option>
<option value="0014">Agua Dulce (Arroyo Verde)</option>
<option value="0018">La Azucena</option>
<option value="0020">El Bajío</option>
<option value="0021">El Bajío</option>
<option value="0022">La Primavera</option>
<option value="0027">Rancho Bonito</option>
<option value="0029">El Bramido</option>
<option value="0033">Los Camachos</option>
<option value="0037">Cañón de las Flores</option>
<option value="0038">La Capilla</option>
<option value="0045">Cedral (La Escoba)</option>
<option value="0047">El Cimarrón</option>
<option value="0050">El Cohetero</option>
<option value="0054">La Mesa del Comal</option>
<option value="0056">Cópala</option>
<option value="0057">Copalita</option>
<option value="0059">Las Crucitas</option>
<option value="0060">La Cruz Verde</option>
<option value="0062">La Cuchilla (Extramuros de Tesistán)</option>
<option value="0064">La Cueva</option>
<option value="0070">El Corral de Piedra</option>
<option value="0078">La Esperanza</option>
<option value="0083">Las Gastadoras</option>
<option value="0087">El Guamúchil</option>
<option value="0089">Los Guayabitos</option>
<option value="0090">Los Guayabos</option>
<option value="0095">Huaxtla</option>
<option value="0097">Los Húmedos</option>
<option value="0099">San Francisco de Ixcatán</option>
<option value="0108">El Establo (San Antonio)</option>
<option value="0110">Los Laureles</option>
<option value="0111">El Lazo (Ex-Hacienda del Lazo)</option>
<option value="0114">Loma Blanca</option>
<option value="0124">El Martel</option>
<option value="0127">La Mesa de Ahuatán</option>
<option value="0129">El Mesón de Cópala</option>
<option value="0133">El Mirador de las Garzas</option>
<option value="0134">La Mojonera</option>
<option value="0139">Nextipac</option>
<option value="0140">El Nogal</option>
<option value="0143">El Ocote</option>
<option value="0145">Ocotera (Derrumbadero)</option>
<option value="0146">El Ojo de Agua</option>
<option value="0151">La Palma</option>
<option value="0153">Palo Gordo</option>
<option value="0154">Las Palomas</option>
<option value="0158">Santa Sofía (Las Paredes)</option>
<option value="0163">Ganadería San Pablo (Los Perones)</option>
<option value="0166">Las Pilas</option>
<option value="0168">Los Pinitos</option>
<option value="0176">La Providencia</option>
<option value="0179">La Puerta Colorada</option>
<option value="0182">Puerta de Velázquez (Paseo del Oeste)</option>
<option value="0183">El Quemado</option>
<option value="0190">La Reserva</option>
<option value="0191">El Resumidero</option>
<option value="0193">Río Blanco</option>
<option value="0194">Río Caliente</option>
<option value="0198">La Sala</option>
<option value="0199">El Salitre</option>
<option value="0201">San Antonio</option>
<option value="0202">San Antonio Chico</option>
<option value="0206">San Esteban (San Miguel Tateposco)</option>
<option value="0208">Universidad de Guadalajara [Club Deportivo]</option>
<option value="0210">San Isidro</option>
<option value="0213">San Lorenzo</option>
<option value="0214">San Lorenzo</option>
<option value="0217">San Nicolás (Autódromo Hermanos Gallo)</option>
<option value="0218">San Rafael Tercero</option>
<option value="0227">La Soledad</option>
<option value="0230">El Taray</option>
<option value="0231">Tesistán (San Francisco Tesistán)</option>
<option value="0232">El Tempisque</option>
<option value="0235">El Texcalame</option>
<option value="0239">El Triángulo</option>
<option value="0240">La Trinidad</option>
<option value="0242">Valle de Guadalupe</option>
<option value="0243">La Venta del Astillero</option>
<option value="0249">Rancho San José de Rábago</option>
<option value="0250">El Zapotillo</option>
<option value="0253">El Pelillo</option>
<option value="0255">La Coronilla del Ocote</option>
<option value="0258">San José</option>
<option value="0259">Rancho el Carro</option>
<option value="0260">El Mamey</option>
<option value="0262">La Peñita</option>
<option value="0263">Los Colorines</option>
<option value="0264">Los Cedros [Granja]</option>
<option value="0265">Rancho Tres Hermanos</option>
<option value="0268">Los Timbres</option>
<option value="0269">Los Volantines</option>
<option value="0270">Milpillas</option>
<option value="0271">Fuentecillas</option>
<option value="0272">Candiles de Huaxtla</option>
<option value="0273">El Platanarillo</option>
<option value="0274">Las Canteras</option>
<option value="0276">La Cofradía</option>
<option value="0277">Agua Escondida</option>
<option value="0279">Lomas de Montechelo (El Pedregal)</option>
<option value="0280">La Mesita</option>
<option value="0281">Los Patios (La Puerta Vieja)</option>
<option value="0286">Rancho los Cerritos</option>
<option value="0287">San José Huanacaxtle [Balneario]</option>
<option value="0288">Los Otates</option>
<option value="0290">La Cañita</option>
<option value="0291">La Manga</option>
<option value="0292">Jalisciense [Club Cinegético]</option>
<option value="0295">Rancho Pozo Blanco</option>
<option value="0297">La Mota</option>
<option value="0300">La Providencia</option>
<option value="0302">El Puentecito</option>
<option value="0312">El Crucero (Crucero de Ameca)</option>
<option value="0313">Pinar de la Venta</option>
<option value="0314">La Gotera</option>
<option value="0315">Alianza de Cazadores Diana</option>
<option value="0316">Agua Dulce</option>
<option value="0317">San José de las Rosas</option>
<option value="0318">Rancho Contento</option>
<option value="0319">El Romeral</option>
<option value="0320">Las Canoas</option>
<option value="0324">La Cebada</option>
<option value="0329">Villa Hermosa</option>
<option value="0331">La Puerta del Pedernal</option>
<option value="0334">Plan de Noria</option>
<option value="0342">El Mirador</option>
<option value="0343">Cola de Caballo (Mirador Doctor Atl)</option>
<option value="0350">Las Higuerillas</option>
<option value="0353">La Compuerta de Milpillas</option>
<option value="0355">La Cueva</option>
<option value="0356">Ejido Copalita</option>
<option value="0360">La Mesa (La Mesa Chiquilla)</option>
<option value="0362">El Mirador (La Mesa)</option>
<option value="0364">La Primavera [Balneario]</option>
<option value="0369">San Jerónimo</option>
<option value="0376">Cerca Morada (Las Presitas)</option>
<option value="0377">Las Cuevas</option>
<option value="0378">La Cumbre</option>
<option value="0380">Carbonato de Calcio</option>
<option value="0382">Rancho el Flamboyán</option>
<option value="0384">El Limón</option>
<option value="0391">San Juan</option>
<option value="0395">La Rosa Tapatía [Granja]</option>
<option value="0396">La Toma (Los Coyotes)</option>
<option value="0405">El Morado (La Palma)</option>
<option value="0407">El Roble (Valle Escondido)</option>
<option value="0411">La Bolsa del Rayo</option>
<option value="0414">Las Cuevas (Los Laureles)</option>
<option value="0415">Granja Kristal</option>
<option value="0417">Villa Rica [Granja]</option>
<option value="0418">Potrero las Víboras</option>
<option value="0430">Fraccionamiento Campestre las Palomas</option>
<option value="0432">Ninguno [Granja de Codornices]</option>
<option value="0435">Las Ranas</option>
<option value="0438">San Martín</option>
<option value="0440">Las Tinajitas [Balneario]</option>
<option value="0444">Chaparral de la Primavera</option>
<option value="0449">Hacienda la Venta</option>
<option value="0450">Los Arcos</option>
<option value="0451">Kilómetro Veinticuatro</option>
<option value="0452">Lambdin</option>
<option value="0453">El Nabo</option>
<option value="0458">Cuatro Milpas</option>
<option value="0460">Ninguno [Granja]</option>
<option value="0462">La Antena</option>
<option value="0463">Los Cerezos</option>
<option value="0464">Kilómetro Cinco</option>
<option value="0468">Los Robles</option>
<option value="0470">El Tecuán</option>
<option value="0471">Las Bóvedas</option>
<option value="0475">Agua Salada</option>
<option value="0476">Los Tecolotes</option>
<option value="0482">Lomas del Colli (Volcanes del Colli)</option>
<option value="0486">Ejido López Mateos</option>
<option value="0490">Rancho los Amigos</option>
<option value="0497">Rancho la Asunción</option>
<option value="0499">Huerta la Colorada (Fraccionamiento la Colorada)</option>
<option value="0511">Amigos del Caballo</option>
<option value="0512">Centriposte</option>
<option value="0513">San José de la Montaña</option>
<option value="0516">El Ocho y Medio (Ras el Tin)</option>
<option value="0522">Los Arcos de Huaxtla</option>
<option value="0523">Agua Zarca</option>
<option value="0524">La Báscula (Kilómetro Trece)</option>
<option value="0525">Ninguno</option>
<option value="0526">Ejido San Esteban [Bodega]</option>
<option value="0528">Camino a las Víboras (La Soledad Chica)</option>
<option value="0529">El Caracol</option>
<option value="0531">Copaixtla</option>
<option value="0532">Las Crucitas</option>
<option value="0533">Curva de la Torre</option>
<option value="0534">El Chiquero</option>
<option value="0535">El Embocadero (Agua Prieta)</option>
<option value="0536">Ex-Hacienda de Huaxtla</option>
<option value="0537">Fraccionamiento Lomas de Tesistán</option>
<option value="0538">El Gran Chaparral</option>
<option value="0539">La Goterita</option>
<option value="0540">Cópala [Granja]</option>
<option value="0541">Los Gómez [Granja la Coleada]</option>
<option value="0542">El Refugio [Granja]</option>
<option value="0543">Guadalupana [Granja]</option>
<option value="0544">Granja Luz Aidé</option>
<option value="0546">Romo [Granja]</option>
<option value="0547">Haciendas la Herradura</option>
<option value="0548">Ninguno [Hidroeléctrica Valentín Gómez Farias]</option>
<option value="0549">La Hiedra (El Guayabo Colorado)</option>
<option value="0550">Huerta los Pinos</option>
<option value="0560">La Huizachera</option>
<option value="0561">Isidro Ulloa</option>
<option value="0562">La Laguna</option>
<option value="0563">Lomas del Mirador</option>
<option value="0564">Leonardo Calva</option>
<option value="0565">María del Carmen Carrillo</option>
<option value="0566">Mesa del Burro (Ejido López Mateos)</option>
<option value="0567">Mesa Colorada</option>
<option value="0568">Milpillas Mesa de San Juan</option>
<option value="0570">Ninguno [Maxipista Guadalajara-Tepic]</option>
<option value="0571">Moloaste [Granja Blanquita]</option>
<option value="0572">El Oasis</option>
<option value="0573">El Ocote</option>
<option value="0574">Las Parritas</option>
<option value="0575">Paraíso de las Tortugas</option>
<option value="0576">El Paraíso</option>
<option value="0577">Los Patios</option>
<option value="0578">El Pelillo</option>
<option value="0579">El Pino</option>
<option value="0580">El Pino</option>
<option value="0581">Potrero la Loma</option>
<option value="0582">Potrero de los Pirules</option>
<option value="0583">Potrero de la Ampliación</option>
<option value="0584">Planta Tratadora de Basura</option>
<option value="0585">Plan de la Noria (La Media Luna)</option>
<option value="0586">Plan de la Venta</option>
<option value="0587">El Placer</option>
<option value="0588">Puente de Guadalupe</option>
<option value="0589">Rancho J. Concepción Rodríguez</option>
<option value="0590">El Ranchito de Raúl Pérez</option>
<option value="0591">Rancho de Aurelio</option>
<option value="0592">Rancho de Juan Ochoa</option>
<option value="0593">Rancho de la Esperanza</option>
<option value="0594">Rancho del Ángel</option>
<option value="0595">Rancho el Robledal</option>
<option value="0596">Rancho el Caporal</option>
<option value="0597">Rancho el Rodeo</option>
<option value="0599">Ranchito el Texano de Jiménez</option>
<option value="0600">Rancho de José Sánchez</option>
<option value="0602">Rancho los Rodríguez</option>
<option value="0604">Rancho los Mezquites</option>
<option value="0605">Rancho Santa Julika</option>
<option value="0606">Ninguno</option>
<option value="0607">Ninguno</option>
<option value="0608">Ninguno</option>
<option value="0609">Ninguno</option>
<option value="0610">Refractarios Guadalajara</option>
<option value="0611">El Reventón</option>
<option value="0612">La Rosa</option>
<option value="0613">Los Sauces</option>
<option value="0614">Santa Cecilia Campestre</option>
<option value="0615">San Gonzalo Torre Vieja</option>
<option value="0617">El San Juan</option>
<option value="0618">San Martín</option>
<option value="0619">Santa María de la Loma</option>
<option value="0620">San Nicolás</option>
<option value="0621">Los Surcos Largos</option>
<option value="0622">Las Tarjeas</option>
<option value="0623">Territorio Brahman</option>
<option value="0624">Terraflor</option>
<option value="0626">Las Tinajas</option>
<option value="0627">Los Tomates</option>
<option value="0629">Villa SantaTeresita</option>
<option value="0631">Ninguno [Campamento Comisión Federal de Electricidad]</option>
<option value="0632">El Coyote</option>
<option value="0633">Agua Dulce</option>
<option value="0641">Ninguno [Centrifugados Mexicanos]</option>
<option value="0644">Colonia la Coronilla</option>
<option value="0649">La Coronilla Dos</option>
<option value="0659">El Jomate</option>
<option value="0660">La Joya</option>
<option value="0661">Lomas de la Primavera</option>
<option value="0668">El Mirador</option>
<option value="0670">Plásticos Picos</option>
<option value="0671">La Loma</option>
<option value="0683">Tanque Numero Uno Hogares de Nuevo México</option>
<option value="0684">Tanque Regulador</option>
<option value="0690">Bolsa del Rayo</option>
<option value="0692">San José</option>
<option value="0693">Puerta de la Cantera (Lomas de la Primavera)</option>
<option value="0694">La Aguacatera</option>
<option value="0696">Los Gavilanes</option>
<option value="0697">Rancho San Francisco</option>
<option value="0698">Ninguno [Servicios Integrales en Gas]</option>
<option value="0699">Comunidad Indígena de San Francisco de Ixcatán</option>
<option value="0701">El Tempisque (La Guitarra)</option>
<option value="0703">Fraccionamiento Hacienda el Astillero</option>
<option value="0706">Rancho el Capulín</option>
<option value="0707">El Zapote</option>
<option value="0708">La Guayaba Agria</option>
<option value="0709">La Mesa de los Indios</option>
<option value="0710">Suchitán</option>
<option value="0711">La Trinidad</option>
<option value="0712">Agua Clara</option>
<option value="0713">La Cabaña</option>
<option value="0714">La Calera</option>
<option value="0715">Cópala Dos</option>
<option value="0716">Cópala Uno</option>
<option value="0717">La Coronela</option>
<option value="0718">La Corteña</option>
<option value="0719">La Cueva de la Lumbre</option>
<option value="0720">La Finca</option>
<option value="0721">La Gloria</option>
<option value="0722">El Cohetero [Granja]</option>
<option value="0723">Higuerillas Dos</option>
<option value="0724">Higuerillas Uno</option>
<option value="0725">Los Jaguares</option>
<option value="0726">Nuevo Tempisque</option>
<option value="0727">El Llano de los Sandovales</option>
<option value="0728">La Mesa</option>
<option value="0729">Mesa de Ixcatán</option>
<option value="0730">Mezcala</option>
<option value="0731">El Mirador</option>
<option value="0733">La Morita</option>
<option value="0734">Nuevo Mundo</option>
<option value="0735">Los Ocotes</option>
<option value="0736">Potrero del Carro</option>
<option value="0737">La Providencia</option>
<option value="0738">Puerta del Llano</option>
<option value="0739">Rancho Ayón</option>
<option value="0740">San Ignacio</option>
<option value="0741">San Juanico</option>
<option value="0742">Santa Catalina</option>
<option value="0743">Santa Paula</option>
<option value="0744">El Saucillo</option>
<option value="0745">Las Tres Azaleas</option>
<option value="0746">El Zapotillo</option>
<option value="0747">Colinas del Martel</option>
<option value="0748">Villas del Valle</option>
<option value="0749">El Camichín (El Atenco)</option>
<option value="0750">Campo Real</option>
<option value="0751">Guadalajara [Technology Park]</option>
<option value="0752">Los Laureles Dos</option>
<option value="0753">Palermo</option>
<option value="0754">El Potrero</option>
<option value="0755">Residencial Albaterra</option>
<option value="0756">Amaranto Residencial</option>
<option value="0757">Mirador del Bosque</option>
<option value="0758">Valle de los Molinos</option>
