<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>MS MAS SALUD</title>

	<% include head %>
</head>

<body>

	<div class="wrapper">
		<% include sideNavBar %>

			<div class="main-panel">
				<% include topNavBar %>
					<div class="content">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-1">
									<div class="card card-calendar">
										<div class="content">
											<div id="fullCalendar"></div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
										<div class="card" id="eventCreation" hidden>
											<div class="header">Crea el evento</div>
											<div class="content">
													<div class="form-group">
														<label>Evento:</label>
														<input type="text" id="title" class="form-control">
													</div>
													<div class="form-group">
														<label>Inicio:</label>
														<input type="text" id="start" class="form-control timepicker" placeholder="Inicio" />
														<input type="text" id="startSend" name="start" hidden/>
													</div>
													<div class="form-group">
														<label>Fin:</label>
														<input type="text" id="end" class="form-control timepicker" placeholder="Fin" />
														<input type="text" id="endSend" name="end" hidden/>
													</div>
													<button onclick="registerEvent()" class="btn btn-fill btn-info">Registrar</button>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
			</div>
	</div>


</body>

<% include ../dashboardScripts %>
	<script src="/js/doctor.js"></script>

	<script>
		$().ready(function() {
			$('.timepicker').datetimepicker({
//          format: 'H:mm',    // use this format if you want the 24hours timepicker
				 format: 'h:mm A',    //use this format if you want the 12hours timpiecker with AM/PM toggle
				 icons: {
						 time: "fa fa-clock-o",
						 date: "fa fa-calendar",
						 up: "fa fa-chevron-up",
						 down: "fa fa-chevron-down",
						 previous: 'fa fa-chevron-left',
						 next: 'fa fa-chevron-right',
						 today: 'fa fa-screenshot',
						 clear: 'fa fa-trash',
						 close: 'fa fa-remove'
				 }
			});
			initFullCalendar();
		});
	</script>

</html>
