<div class="sidebar" data-color="green" data-image="/public/bootstrap-dashboard/assets/img/sidebar-5.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/" class="simple-text">
                Ms + Salud
            </a>
    </div>

    <ul class="nav">
      <% if(locals.menu == '/dashboard') {%>
        <li class="active">
      <%}else{ %>
        <li>
      <%}%>
        <a href="/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
      </li>
      <% if(locals.menu == '/profile') {%>
        <li class="active">
      <%}else{ %>
        <li>
      <%}%>
        <a href="/profile">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
      </li>
      <% if(locals.menu == '/patients') {%>
        <li class="active">
      <%}else{ %>
        <li>
      <%}%>
        <a href="/patients">
                    <i class="pe-7s-note2"></i>
                    <p>Pacientes</p>
                </a>
      </li>
    </ul>
  </div>
</div>
