<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>MS MAS SALUD</title>

	<% include head %>

</head>

<body>

	<div class="wrapper">
		<% include sideNavBar %>

			<div class="main-panel">
				<% include topNavBar %>
					<div class="content">
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4">
									<div class="card">
										<div class="header">
											<h4 class="title">Acciones rápidas</h4>
											<p class="category">Miembro</p>
										</div>
										<div class="content">
											<div class="row">
												<div class="row">
													<div class="col-md-3">
														<a href="/signupMember" class="btn btn-lg btn-info btn-fill">Registrar miembro</a>
													</div>
												</div>
												<hr />
												<div class="row">
													<div class="col-md-3">
														<a href="#" class="btn btn-lg btn-info btn-fill">Agendar una consulta</a>
													</div>
												</div>
												<hr />
												<div class="row">
													<div class="col-md-3">
														<a href="#" class="btn btn-lg btn-info btn-fill">Verificar Membresia</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="header">
											<h4 class="title">Verificación de membresía</h4>
										</div>
										<div class="content">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Id de la membresía:</label>
														<input id="memberIdInput" class="form-control" type="text" />
													</div>
													<div class="form-group">
														<label>Token:</label>
														<input id="tokenInput" class="form-control" type="text" />
														<div class="footer text-center">
															<button id="btnVerToken" class="btn btn-success btn-fill btn-wd">Verificar</button>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div id="memberPanel" class="typo-line" hidden>
		                          <p id="result">
															</p>
															<a id="aMR" class="btn btn-fill">Historia Clínica</a>
		                      </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>

	</div>
	</div>


</body>

<% include ../dashboardScripts %>
	<script src="/js/recepcionist.js"></script>

</html>
