<div class="sidebar" data-color="azure" data-image="bootstrap-dashboard/assets/img/full-screen-image-3.jpg">
  <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

  <div class="logo">
    <a href="#" class="logo-text">MS Mas Salud</a>
  </div>
  <div class="logo logo-mini">
    <a href="#" class="logo-text">
				MS+S
			</a>
  </div>

  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="bootstrap-dashboard/assets/img/faces/face-0.jpg" />
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <%= user.name %>
                        <b class="caret"></b>
                    </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li><a href="/profile">Perfil</a></li>
            <li><a href="#">Configuración</a></li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="nav">
      <%if(locals.menu == '/dashboard'){%>
      <li class="active">
      <%}%>
      <li>
        <a href="/dashboard"><i class="pe-7s-graph"></i><p>Panel de control</p></a>
      </li>
      <%if(locals.menu == '/calendar'){%>
      <li class="active">
      <%}%>
      <li>
        <a href="/calendar"><i class="pe-7s-date"></i><p>Citas</p></a>
      </li>
      <%if(locals.menu == '/loadAllMembers'){%>
      <li class="active">
      <%}%>
      <li>
        <a href="/loadAllMembers"><i class="pe-7s-users"></i><p>Miembros</p></a>
      </li>
      <%if(locals.menu == '/profile'){%>
      <li class="active">
      <%}%>
      <li>
        <a href="/profile"><i class="pe-7s-user"></i><p>Perfil</p></a>
      </li>
    </ul>
  </div>
</div>
