<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link href="bootstrap/theme.css" rel="stylesheet">
</head>



<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container theme-showcase" role="main">
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Buscar pacientes</h4>
          </div>
          <div class="modal-body">
            <input class="form-control" id="findByName" placeholder="Nombre.." type="text">
            <div class="input-group-btn">
              <button id="btnFindByName" class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
            <hr />
            <ul class="list-group" id="patientsList">

            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- Trigger the modal with a button -->
      <button type="button" id="modalButton" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Buscar pacientes</button>
      <hr />
      <ul class="list-group">
        <% if(locals.patients){ %>
          <% locals.patients.forEach(function(patient){ %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= patient.fullName %>
                </div>
                <div class="col-sm-3">
                  <%= patient.cellphone %>
                </div>
                <div class="col-sm-3">
                  <%= patient.email %>
                </div>
                <div class="col-sm-3">
                  <a class="btn btn-xs btn-success">Editar</a>
                  <a class="btn btn-xs btn-info">Ver</a>
                  <a class="btn btn-xs btn-danger">Borrar</a>
                </div>
              </div>
            </li>
            <% }) %>
              <%}%>
      </ul>
    </div>
  </div <% include ../partials/jsblock %>
  <script src="js/doctor.js"></script>
</body>

</html>
