<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="bootstrap-dashboard/assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>MS MAS SALUD</title>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page" data-color="green" data-image="bootstrap-dashboard/assets/img/full-screen-image-1.jpg">

        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form action="/signin" method="post">
                  <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                  <div class="card card-hidden">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                      <span><%= message %></span>
                    </div>
                    <%}%>
                    <div class="header text-center">Inicio de sesi칩n</div>
                    <div class="content">
                      <div class="form-group">
                        <label>Correo</label>
                        <input type="email" name="email" placeholder="Ej. ricardo.suarez@gmail.com" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label>Contrase침a</label>
                        <input type="password" name="password" placeholder="Contrase침a" class="form-control" required>
                      </div>
                      <div class="footer text-center">
                        <button type="submit" class="btn btn-fill btn-success btn-wd">Iniciar sesi칩n</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>
      </div>
    </div>
</body>

<% include ../partials/jsblock %>

</html>
