<form action="/test" method="post">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
  <input type="submit" value="Submit">
</form>

<br/><hr />
<h2>TWILIO</h2>
<form action="/testTwilio" method="post">
  <input type="submit"value="submit">
</form>
