<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css-patologicos/master-nopatologicos.css">
    <link rel="stylesheet" href="/css/patologicos/master-patologicos.css">
</head>

<body>
  <div class="container theme-showcase" role="main">

    <% include ../partials/header %>
    <!--% include ../forms/medicalAPNP % formularios-->
    <!--% include ../forms/medicalAPP % formularios-->
    <!--*% include ../forms/medicaltraumatismos % formularios-->
    <% include ../forms/medicalHospital %>


  </div>
  <% include ../partials/jsblock %>
  <script src="/js/main.js"></script>




</body>

</html>
