<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <!-- Custom styles for this template -->
    <link href="bootstrap/theme.css" rel="stylesheet">
</head>

<body>
  <div class="container theme-showcase" role="main">

    <% include ../partials/header %>
    <% include ../forms/userData %>

  </div>
  <% include ../partials/jsblock %>
</body>

</html>
