<div class="conteiner fluid">
  <form class="form-signin" action="/updateMedicalRecord" method="post" enctype="application/x-www-form-urlencoded">
    <div class="row formularios">
    <div class="texto-principal"><h2>Dispositivos médicos implantables</h2></div>

        <div class="col-6 col-md-4"><!-- INICIA PRIMER DIV-->

          <label for="dental">
            <h2> Protesis dentales </h2>
            <p class="consumir">Es un elemento artifical destinado a restaurar la anatomía de una o varias piezas mentales</p>
          </label>
          <label class="radio"><input type="radio" name="dental" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="dental" value="No"> No </label>


          <label for="ocular">
            <h2> Protesis oculares </h2>
            <p class="consumir">Es un elemento artifical destinado a restaurar la anatomía de una o varias piezas mentales</p>
          </label>
          <label class="radio"><input type="radio" name="ocular" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="ocular" value="No"> No </label>


          <label for="hearing">
            <h2> Protesis auditivas </h2>
            <p class="consumir">Es un elemento artifical destinado a restaurar la anatomía de una o varias piezas mentales</p>
          </label>
          <label class="radio"><input type="radio" name="hearing" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="hearing" value="No"> No </label>

          <label for="cosmetic">
            <h2> Protesis esteticas o cosmeticas </h2>
            <p class="consumir">Sirver para mejorar el aspecto exterior del cuerpo, no tienen una función fuera de eso</p>
          </label>
          <label class="radio"><input type="radio" name="cosmetic" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="cosmetic" value="No"> No </label>


        </div> <!--FINALIZA PRIMER DIV-->

        <div class="col-6 col-md-4"><!--INICIA SEGUNDO DIV-->

          <label for="cranial">
            <h2> Protesis craneales </h2>
            <p class="consumir">Incluye implante personalizado, miniplacas, tornillos, valvulas, stents coronarios y cerebrales</p>
          </label>
          <label class="radio"><input type="radio" name="cranial" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="cranial" value="No"> No </label>


          <label for="upperLimb">
            <h2> Protesis de miembros superiores </h2>
            <p class="consumir">Incluye dedos, manos, codo, hombo, brazo completo, así como placas y tornillos en la zona</p>
          </label>
          <label class="radio"><input type="radio" name="upperLimb" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="upperLimb" value="No"> No </label>


          <label for="coloum">
            <h2> Protesis de columna </h2>
            <p class="consumir">Sirver para mejorar el aspecto exterior del cuerpo, no tienen una función fuera de eso</p>
          </label>
          <label class="radio"><input type="radio" name="coloum" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="coloum" value="No"> No </label>


          <label for="lowerLimb">
            <h2> Protesis de miembros inferioress </h2>
            <p class="consumir">Incluye cadera, rodilla, pie, pierna completa, asi como placas y tornillos en la zona</p>
          </label>
          <label class="radio"><input type="radio" name="lowerLimb" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="lowerLimb" value="No"> No </label>

        </div><!--FINALIZA SEGUNDO DIV-->

        <div class="col-6 col-md-4"><!--INICIA TERCER DIV-->

          <label for="vascular">
            <h2> Protesis vasculares </h2>
            <p class="consumir"></p>
          </label>
          <label class="radio"><input type="radio" name="vascular" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="vascular" value="No"> No </label>


          <label for="cathers">
            <h2> Protesis de columna </h2>
            <p class="consumir">Sirver para mejorar el aspecto exterior del cuerpo, no tienen una función fuera de eso</p>
          </label>
          <label class="radio"><input type="radio" name="cathers" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="cathers" value="No"> No </label>


          <label for="cardiac">
            <h2> Protesis de miembros inferioress </h2>
            <p class="consumir">Incluye cadera, rodilla, pie, pierna completa, asi como placas y tornillos en la zona</p>
          </label>
          <label class="radio"><input type="radio" name="cardiac" value="Si" > Si </label>
          <label class="radio"><input type="radio" name="cardiac" value="No"> No </label>



        </div> <!--FINALIZA TERCER DIV-->


    </div><!--row formularios-->
  </form>
</div><!--Conteiner Fluid-->
