<!-- ANTECEDENTES PADRE -->
<div class="row"> <!--PRIMERA FILA PADRE -->
  <h3 class="form-signin-heading bg-info">Antecedentes Familiares Padre</h3>
  <h4 class="form-signin-heading">Mencione si padece o padecio alguna de las siguientes enfermedades o sintomas:</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <p class="text-center"><label>Vive:</label></p>
    </div>
    <div class="col-xs-12 col-sm-10">
      <div class="switch"
       data-on-label="SI"
       data-off-label="NO">
       <input type="checkbox" checked/>
       </div>
     </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
      <label>Diabetes</label>
      <div class="radio" name="diabetesPadre" id="diabetesPadre">
        <label class="radio"><input type="radio" name="diabetesP" id="sDP" data-toggle="radio" value="siDiabetesP">Sí</label><br>
        <label class="radio"><input type="radio" name="diabetesP" id="nDP" data-toggle="radio" value="noDiabetesP">No</label><br>
        <label class="radio"><input type="radio" name="diabetesP" id="dDP" data-toggle="radio" value="desconoceDiabetesP">Desconoce</label><br>
      </div>
      <!-- OCULTO DIABETES SI -->
      <div class="radio" name="siDP" id="siDP" style="display:none">
        <label>Tipo de diabetes</label>
        <label class="radio"><input type="radio" name="tipoDP" data-toggle="radio" value="gestacionalDP">Gestacional</label><br>
        <label class="radio"><input type="radio" name="tipoDP" data-toggle="radio" value="tipo1DP">Tipo I</label><br>
        <label class="radio"><input type="radio" name="tipoDP" data-toggle="radio" value="tipo2DP">Tipo II</label><br>
        <label class="radio"><input type="radio" name="tipoDP" data-toggle="radio" value="otroDP">Otro tipo</label><br>
      </div>
      <!-- FIN  OCULTO DIABETES SI -->
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
      <label>Artitris</label>
      <div class="radio" name="artitrisPadre" id="artitrisPadre">
        <label class="radio"><input type="radio" name="artitrisP" id="sAP" data-toggle="radio" value="siArtitrisP">Sí</label><br>
        <label class="radio"><input type="radio" name="artitrisP" id="nAP" data-toggle="radio" value="noArtitrisP">No</label><br>
        <label class="radio"><input type="radio" name="artitrisP" id="dAP" data-toggle="radio" value="desconoceArtitrisP">Desconoce</label><br>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
      <label>Cefalea</label>
      <div class="radio" name="cefaleaPadre" id="cefaleaPadre">
        <label class="radio"><input type="radio" name="cefaleaP" id="sCP" data-toggle="radio" value="siCefaleaP">Sí</label><br>
        <label class="radio"><input type="radio" name="cefaleaP" id="nCP" data-toggle="radio" value="noCefaleaP">No</label><br>
        <label class="radio"><input type="radio" name="cefaleaP" id="dCP" data-toggle="radio" value="desconoCecefaleaP">Desconoce</label><br>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
      <label>Obesidad o sobrepreso</label>
      <div class="radio" name="obesidadPadre" id="obesidadPadre">
        <label class="radio"><input type="radio" name="obesidadP" id="sOP" data-toggle="radio" value="siObesidadP">Sí</label><br>
        <label class="radio"><input type="radio" name="obesidadP" id="nOP" data-toggle="radio" value="noObesidadP">No</label><br>
        <label class="radio"><input type="radio" name="obesidadP" id="dOP" data-toggle="radio" value="desconoObesidadP">Desconoce</label><br>
      </div>
  </div>
</div> <!--FIN PRIMERA FILA PADRE -->
<div class="row"> <!--SEGUNDA FILA PADRE -->
  <div class="col-xs-12 col-sm-6 col-md-3">
      <label>Cardiopatias</label>
      <div class="radio" name="cardiopatiasPadre" id="cardiopatiasPadre">
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="ningunaCardioP">Ninguna</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="desconoceCardioP">Desconoce</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="hipertensionCardioP">Hipertension</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="hipotensionCardioP">Hipotension</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="isquemiaCardioP">Isquemia</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="anginaCardioP">Angina de pecho</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="infartoCardioP">Infarto de miocardio</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="subitaCardioP">Muerte subita</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="reumaticasCardioP">Enfermedad reumatica</label><br>
        <label class="radio"><input type="radio" name="cardioP" data-toggle="radio" value="masCardioP">Mas de una</label><br>
      </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
      <label>Enfermedades Pulmonares</label>
      <div class="radio" name="pulmonaresPadre" id="pulmonaresPadre">
        <label class="radio"><input type="radio" name="pulmonaresP" id="sPP" data-toggle="radio" value="siPulmonarP">Sí</label><br>
        <label class="radio"><input type="radio" name="pulmonaresP" id="nPP" data-toggle="radio" value="noPulmonarP">No</label><br>
        <label class="radio"><input type="radio" name="pulmonaresP" id="dPP" data-toggle="radio" value="desconocePulmonarP">Desconoce</label><br>
      </div>
      <!-- OCULTO PULMONARES SI -->
      <div class="radio" name="siPP" id="siPP" style="display:none">
        <label>Tipo de neumopatias</label>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="neumoniaP">Neumonia</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="asmaP">Asma</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="enfisemaP">Enfisema</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="epocP">EPOC</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="edemaP">Edema</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="otroPulmonarP">Otro</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="masPulmonarP">Mas de uno</label><br>
        <label class="radio"><input type="radio" name="tipoPP" data-toggle="radio" value="desconocePulmonarP">Desconoce</label><br>
      </div>
      <!-- FIN OCULTO CANCER SI -->
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <label>Cancer</label>
    <div class="radio" name="cancerPadre" id="cancerPadre">
      <label class="radio"><input type="radio" name="pulmonaresP" id="sTCP" data-toggle="radio" value="siCancerP">Sí</label><br>
      <label class="radio"><input type="radio" name="pulmonaresP" id="nTCP" data-toggle="radio" value="noCancerP">No</label><br>
      <label class="radio"><input type="radio" name="pulmonaresP" id="dTCP" data-toggle="radio" value="desconoceCancerP">Desconoce</label><br>
    </div>
    <!-- OCULTO CANCER SI -->
    <div class="radio" name="siTCP" id="siTCP" style="display:none">
      <label>Tipo de cancer</label>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="colonP">Colon y recto</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="endometrioP">Endometrio</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="mamaP">Mama</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="pulmonP">Pulmon</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="leucemiaP">Leucemia</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="pancreasP">Pancreas</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="tiroidesP">Tiroides</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="rinonP">Riñon</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="otroCancerP">Otro</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="masCancerP">Mas de uno</label><br>
      <label class="radio"><input type="radio" name="tipoCP" data-toggle="radio" value="desconoceCancerP">Desconoce</label><br>
    </div>
    <!-- FIN OCULTO CANCER SI -->
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <label>Enfermedades Renales</label>
    <div class="radio" name="renalesPadre" id="renalesPadre">
      <label class="radio"><input type="radio" name="renalesP" id="sRP" data-toggle="radio" value="siRenalP">Sí</label><br>
      <label class="radio"><input type="radio" name="renalesP" id="nRP" data-toggle="radio" value="noRenalP">No</label><br>
      <label class="radio"><input type="radio" name="renalesP" id="dRP" data-toggle="radio" value="desconoceRenalP">Desconoce</label><br>
    </div>
    <!-- OCULTO RENALES SI -->
    <div class="radio" name="siRP" id="siRP" style="display:none">
      <label>Tipo de nefropatias</label>
      <label class="radio"><input type="radio" name="tipoRP" data-toggle="radio" value="insuficenciaP">Insuficiencia Renal</label><br>
      <label class="radio"><input type="radio" name="tipoRP" data-toggle="radio" value="calculosP">Calculos Renales</label><br>
      <label class="radio"><input type="radio" name="tipoRP" data-toggle="radio" value="otroRenalP">Otro</label><br>
      <label class="radio"><input type="radio" name="tipoRP" data-toggle="radio" value="masRenalP">Mas de uno</label><br>
      <label class="radio"><input type="radio" name="tipoRP" data-toggle="radio" value="desconoceRenalP">Desconoce</label><br>
    </div>
    <!-- FIN OCULTO RENALES SI -->
  </div>
</div> <!--FIN SEGUNDA FILA PADRE -->
<div class="row"><!--TERCERA FILA PADRE -->
  <div class="col-xs-12 col-sm-6 col-md-3">
    <label>Enfermedades Hepaticas</label>
    <div class="radio" name="hepaticasPadre" id="hepaticasPadre">
      <label class="radio"><input type="radio" name="hepaticasP" id="sHP" data-toggle="radio" value="siHepaticaP">Sí</label><br>
      <label class="radio"><input type="radio" name="hepaticasP" id="nHP" data-toggle="radio" value="noHepaticaP">No</label><br>
      <label class="radio"><input type="radio" name="hepaticasP" id="dHP" data-toggle="radio" value="desconoceHepaticaP">Desconoce</label><br>
    </div>
    <!-- OCULTO RENALES SI -->
    <div class="radio" name="siHP" id="siHP" style="display:none">
      <label>Tipo de nefropatias</label>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="hepaAP">Hepatitis A</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="hepaBP">Hepatitis B</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="hepaCP">Hepatitis C</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="cirrosisP">Cirrosis</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="hemocromaP">Hemocromatosis</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="otroHepaticasP">Otro</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="masHepaticasP">Mas de uno</label><br>
      <label class="radio"><input type="radio" name="tipoHP" data-toggle="radio" value="desconoceHepaticasP">Desconoce</label><br>
    </div>
    <!-- FIN OCULTO RENALES SI -->
  </div>
</div><!--FIN TERCERA FILA PADRE -->
